@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  margin: 0 auto;
}

.font-poppins{
  font-family: Poppins;
}

.font-kanit{
  font-family: Kanit;
}

.font-raleway{
  font-family: Raleway;
}

.color-text-brown{
  color:#69110A;
}

.color-text-red{
  color:#DD3833;
}

.color-component-brown{
  background-color:#69110A;
}

.color-component-red{
  background-color:#DD3833;
}

.red-navbar{
  background-color: #CB0105;
}

.red-hover:hover{
  background-color: #ffc6c669;
}

.color-component-cream{
  background-color: #fcf1d4;
  margin: 0;
  padding: 0;
}

.arrow-button {
  display: flex;
  transition: all 0.3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}

.arrow {
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  position: relative;
  transform: rotate(-45deg);
  margin-left: 6px;
  transition: all 0.3s ease;
}

.arrow-button:hover .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
}