@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  margin: 0 auto;
}

.font-poppins{
  font-family: Poppins;
}

.font-kanit{
  font-family: Kanit;
}

.font-raleway{
  font-family: Raleway;
}

.color-text-brown{
  color:#69110A;
}

.color-text-red{
  color:#DD3833;
}

.color-component-brown{
  background-color:#69110A;
}

.color-component-red{
  background-color:#DD3833;
}

.color-component-red:hover{
  background-color:#c93631;
  cursor: pointer;
  transition:ease 0.3s;
}

.red-navbar{
  background-color: oklch(0.577 0.245 27.325);
}

.red-hover:hover{
  background-color: #ffc6c669;
}

.color-component-cream{
  background-color: #fcf1d4;
  margin: 0;
  padding: 0;
}

.arrow-button {
  display: flex;
  transition: all 0.3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}

.arrow {
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  position: relative;
  transform: rotate(-45deg);
  margin-left: 6px;
  transition: all 0.3s ease;
}

.arrow-button:hover .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.chat-container {
  overflow-y: scroll;
}

.chat-container::-webkit-scrollbar {
  width: 6px;
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: opacity 0.3s;
}

.chat-container:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

.chat-container::-webkit-scrollbar-thumb {
  opacity: 0;
}



@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.dot1 {
  animation: blink 1.5s infinite;
}

.dot2 {
  animation: blink 1.5s infinite 0.5s;
}

.dot3 {
  animation: blink 1.5s infinite 1s;
}
